{% extends "layouts/navbar.html" %}

{% load static %}

{% block css_extra %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %} 
    <main class="container-form">
        <div class="container-video-background">
            <video autoplay muted loop playsinline>
                <source src="/media/kling_20260616_VIDEO_me_puedes__2610_0.mp4" type="video/mp4">
                Tu navegador no soporta videos de fondo.
            </video>
        </div>

        <section>
            <h2>Subir archivos</h2>
            <div class="container-up-files">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    <div>
                        <label for="file">Archivo (pdf o word)</label>
                        <br>
                        {{ form.file_homework }}
                    </div>
                    <button type="submit">Subir</button>
                </form>
            </div>
        </section>

        <section>
            {% if messages %}
                <div class="messages-container" style="margin-bottom: 20px;">
                    {% for message in messages %}
                        <div>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    </main>
{% endblock %}
