* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
body{
    background-color: black;
    color: aliceblue;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.file-homework {
  color: transparent;      
  width: 180px;            
  overflow: hidden;        
  vertical-align: middle;
}

.file-homework::file-selector-button {
  color: greenyellow;
  background-color: black;
  padding: 10px 20px;
  border: 2px solid greenyellow;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
}

.file-homework::file-selector-button:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.5s;
    font-weight: 700;
}