* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
body{
    background-color: black;
    color: aliceblue;
}

.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.file-homework {
  color: transparent;      
  width: 180px;            
  overflow: hidden;        
  vertical-align: middle;
  margin-left: 13px;
}

.file-homework::file-selector-button {
  color: greenyellow;
  background-color: black;
  padding: 10px 20px;
  border: 2px solid greenyellow;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
  box-shadow: inset 1px 10px 17px greenyellow;
}

.file-homework::file-selector-button:hover{
    background-color: greenyellow;
    color: black;
    transition: 0.5s;
    font-weight: 700;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: greenyellow;
}
.botton{
    background-color: greenyellow;
    color: black;
    padding: 6px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;    
    font-weight: bold;
    width: 170px;
    font-size: 19px;
    margin-left: 13px;
    transition: 0.8s;
}
.botton:hover{
    background-color: black;
    color: greenyellow;
    transition: 0.8s;border: 2px solid greenyellow;
}